h2 > code {
    font-size: 18px;
}

h3 > code {
    font-size: 16px;
}

code, kbd, samp {
    font-size: 13px;
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    font-variant-ligatures: none;
    line-height: 30px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif; 
}

article {
    line-height: 33px;
    font-size: 17px;
}

h1, h2, h3, h4 {
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
    border-bottom-width: 0.5px;
    border-bottom-color: grey;
    border-bottom-style: solid;
    margin-top: 50px;
    padding-bottom: 5px;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 26px;
}

div > #title {
    font-weight: 700;
}

.postcard-layout .postcard-item .postcard-title {
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;  
}

div > #title {
    font-size: 30px;
    padding-bottom: 20px;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;     
    font-weight: 700px;
}

div > #page-info {
    padding-bottom: 15px;
    font-style: italic;
    color: var(--color-navbar-item-inactive);
}

ul > li > ul >li {
    list-style-type: circle;
}

footer {
    padding-top: 150px;
}